<a href="https://colab.research.google.com/github/nannthd/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from sklearn import datasets 
iris_data = datasets.load_iris()

In [22]:
X = iris_data['data']
y = iris_data['target']

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [24]:
# Define the decision tree model
model = DecisionTreeClassifier()

# Define the cross-validation method กำหนดวิธีการตรวจสอบความถูกต้องโดยใช้ 10-fold cross-validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Perform k-fold cross-validation and return the accuracy scores
scores = cross_val_score(model, X, y, cv=kf)

# Print the mean accuracy score and standard deviation
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

In [25]:
# Define the decision tree model
model = DecisionTreeClassifier(max_depth=2)

# Define the cross-validation method
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Perform k-fold cross-validation and return the accuracy scores
scores = cross_val_score(model, X, y, cv=kf)

# Print the mean accuracy score and standard deviation
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.12)

In [26]:
from sklearn.model_selection import LeaveOneOut

In [27]:
# Define the decision tree model
dt = DecisionTreeClassifier()

# Define the cross-validation method (leave-one-out) กำหนดวิธีการตรวจสอบความถูกต้องโดยใช้ leave-one-out
loo = LeaveOneOut()

# Perform leave-one-out cross-validation and return the accuracy scores
scores = cross_val_score(dt, X, y, cv=loo)

# Print the mean accuracy score and standard deviation
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.96 (+/- 0.39)

In [ ]:
X

 transform numpy array to dataframe

In [29]:
import pandas as pd

In [30]:
columns = iris_data['feature_names']
X_df = pd.DataFrame(X, columns=columns)
X_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [31]:
X_df['label']=y #เพิ่มคำตอบจะได้ดูออกตอน shuffle
X_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [38]:
# shuffle the rows of the DataFrame
shuffled_df = X_df.sample(frac=1, random_state=6) #random_state เพื่อให้การสุ่มแต่ละครั้งเหมือนกัน/เหมือนเดิม
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [39]:
shuffled_df['fold']=15*[1,2,3,4,5,6,7,8,9,10]
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

#HW6 วนลูปทำ 10-fold cross validation