<a href="https://colab.research.google.com/github/nannthd/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของ กรม อุตุ ([link](https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ

![Screen Shot 2566-01-11 at 09.36.17.png]()

In [152]:
import pandas as pd

In [153]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# import data

In [154]:
# ความกด
KKN1 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความกด(เปอร์เซ็นต์)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM1 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความกด(เปอร์เซ็นต์)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI1 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความกด(เปอร์เซ็นต์)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK1 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความกด(เปอร์เซ็นต์)/สำเนาของ จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI1 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความกด(เปอร์เซ็นต์)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [155]:
KKN1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [156]:
# ความชื้นสัมพัทธ์
KKN2 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM2 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI2 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK2 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/สำเนาของ จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI2 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [157]:
KKN2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [158]:
# ความเร็วลม
KKN3 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความเร็วลม(นอต)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM3 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความเร็วลม(นอต)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI3 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความเร็วลม(นอต)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK3 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความเร็วลม(นอต)/สำเนาของ จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI3 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ความเร็วลม(นอต)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [159]:
KKN3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [160]:
# จำนวนเมฆ
KKN4 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/จำนวนเมฆ(10ส่วน)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM4 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/จำนวนเมฆ(10ส่วน)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI04 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/จำนวนเมฆ(10ส่วน)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK4 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/จำนวนเมฆ(10ส่วน)/สำเนาของ จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI4 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/จำนวนเมฆ(10ส่วน)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [225]:
LEI4 = LEI04.iloc[:,:35]

In [162]:
KKN4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [163]:
# ปริมาณฝน
KKN5 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ปริมาณฝน(มิลลิเมตร)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM5 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ปริมาณฝน(มิลลิเมตร)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI5 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ปริมาณฝน(มิลลิเมตร)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK5 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ปริมาณฝน(มิลลิเมตร)/สำเนาของ จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI5 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/ปริมาณฝน(มิลลิเมตร)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [164]:
KKN5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [165]:
# อุณหภูมิจุดน้ำค้าง
KKN6 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM6 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI6 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK6 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/สำเนาของ จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI6 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [166]:
KKN6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [167]:
# อุณหภูมิต่ำสุด
KKN7 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM7 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI7 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK7 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/สำเนาของ จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI7 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [168]:
KKN7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [169]:
# อุณหภูมิตุ้มแห้ง
KKN8 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM8 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/สำเนาของ จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI8 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/สำเนาของ จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK8 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/สำเนาของ จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI8 = pd.read_excel('/content/drive/MyDrive/Data Prep and Data Mining BSc65/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/สำเนาของ จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [170]:
KKN8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

#สร้างตารางแยกตามจังหวัดและตามหัวข้อ

##ความกด

In [242]:
KKN1['จังหวัด'] = "ขอนแก่น"
KKN01 = KKN1.drop(['ที่','เฉลี่ย'],axis=1)
KKN01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN001 = KKN01.stack().reset_index()
KKN001.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
KKN001['เดือน'] = KKN001['เดือน/ปี'].dt.month
KKN001['ปี'] = KKN001['เดือน/ปี'].dt.year
newKKN1 = KKN001[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
newKKN1

      จังหวัด                     สถานี  วัน  เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย    1     10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย    2     10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย    3     10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย    4     10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย    5     10  2011  1009.88
...       ...                       ...  ...    ...   ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย   27      2  2022  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย   28      2  2022  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย   29      2  2022  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย   30      2  2022  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย   31      2  2022        -

[1705 rows x 6 columns]

In [241]:
NPM1['จังหวัด'] = "นครพนม"
NPM01 = NPM1.drop(['ที่','เฉลี่ย'],axis=1)
NPM01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM001 = NPM01.stack().reset_index()
NPM001.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
NPM001['เดือน'] = NPM001['เดือน/ปี'].dt.month
NPM001['ปี'] = NPM001['เดือน/ปี'].dt.year
newNPM1 = NPM001[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
newNPM1

     จังหวัด                     สถานี  วัน  เดือน    ปี   ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย    1     10  2011   1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย    2     10  2011  1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย    3     10  2011  1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย    4     10  2011  1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย    5     10  2011  1010.51
...      ...                       ...  ...    ...   ...      ...
1700  นครพนม  352201-หนองคาย จ.หนองคาย   27      2  2022  1016.43
1701  นครพนม  352201-หนองคาย จ.หนองคาย   28      2  2022  1013.53
1702  นครพนม  352201-หนองคาย จ.หนองคาย   29      2  2022  1013.37
1703  นครพนม  352201-หนองคาย จ.หนองคาย   30      2  2022  1013.98
1704  นครพนม  352201-หนองคาย จ.หนองคาย   31      2  2022        -

[1705 rows x 6 columns]

In [240]:
LEI1['จังหวัด'] = "เลย"
LEI01 = LEI1.drop(['ที่','เฉลี่ย'],axis=1)
LEI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI001 = LEI01.stack().reset_index()
LEI001.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
LEI001['เดือน'] = LEI001['เดือน/ปี'].dt.month
LEI001['ปี'] = LEI001['เดือน/ปี'].dt.year
newLEI1 = LEI001[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
newLEI1

     จังหวัด                     สถานี   วัน  เดือน    ปี   ความกด
0        เลย  352201-หนองคาย จ.หนองคาย   1.0     10  2011  1005.12
1        เลย  352201-หนองคาย จ.หนองคาย   2.0     10  2011  1006.51
2        เลย  352201-หนองคาย จ.หนองคาย   3.0     10  2011  1007.81
3        เลย  352201-หนองคาย จ.หนองคาย   4.0     10  2011  1008.15
4        เลย  352201-หนองคาย จ.หนองคาย   5.0     10  2011  1009.21
...      ...                       ...   ...    ...   ...      ...
1700     เลย  352201-หนองคาย จ.หนองคาย  27.0      2  2022  1014.97
1701     เลย  352201-หนองคาย จ.หนองคาย  28.0      2  2022  1012.88
1702     เลย  352201-หนองคาย จ.หนองคาย  29.0      2  2022        -
1703     เลย  352201-หนองคาย จ.หนองคาย  30.0      2  2022        -
1704     เลย  352201-หนองคาย จ.หนองคาย  31.0      2  2022        -

[1705 rows x 6 columns]

In [239]:
SNK1['จังหวัด'] = "สกลนคร"
SNK01 = SNK1.drop(['ที่','เฉลี่ย'],axis=1)
SNK01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK001 = SNK01.stack().reset_index()
SNK001.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
SNK001['เดือน'] = SNK001['เดือน/ปี'].dt.month
SNK001['ปี'] = SNK001['เดือน/ปี'].dt.year
newSNK1 = SNK001[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
newSNK1

     จังหวัด                     สถานี  วัน  เดือน    ปี   ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย    1     10  2011  1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย    2     10  2011  1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย    3     10  2011  1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย    4     10  2011  1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย    5     10  2011  1010.55
...      ...                       ...  ...    ...   ...      ...
1700  สกลนคร  352201-หนองคาย จ.หนองคาย   27      2  2022  1014.95
1701  สกลนคร  352201-หนองคาย จ.หนองคาย   28      2  2022  1012.89
1702  สกลนคร  352201-หนองคาย จ.หนองคาย   29      2  2022  1013.37
1703  สกลนคร  352201-หนองคาย จ.หนองคาย   30      2  2022  1013.98
1704  สกลนคร  352201-หนองคาย จ.หนองคาย   31      2  2022        -

[1705 rows x 6 columns]

In [238]:
NKI1['จังหวัด'] = "หนองคาย"
NKI01 = NKI1.drop(['ที่','เฉลี่ย'],axis=1)
NKI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI001 = NKI01.stack().reset_index()
NKI001.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
NKI001['เดือน'] = NKI001['เดือน/ปี'].dt.month
NKI001['ปี'] = NKI001['เดือน/ปี'].dt.year
newNKI1 = NKI001[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
newNKI1

      จังหวัด                     สถานี   วัน  เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1.0     10  2011  1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2.0     10  2011  1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3.0     10  2011  1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4.0     10  2011  1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5.0     10  2011  1009.69
...       ...                       ...   ...    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27.0      2  2022  1015.31
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28.0      2  2022  1013.06
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29.0      2  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30.0      2  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31.0      2  2022        -

[1705 rows x 6 columns]

##ความชื้นสัมพัทธ์

In [237]:
KKN2['จังหวัด'] = "ขอนแก่น"
KKN02 = KKN2.drop(['ที่','เฉลี่ย'],axis=1)
KKN02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN002 = KKN02.stack().reset_index()
KKN002.rename(columns = {'level_3':'วัน',0:'ความชื้นสัมพัทธ์'}, inplace = True)
KKN002['เดือน'] = KKN002['เดือน/ปี'].dt.month
KKN002['ปี'] = KKN002['เดือน/ปี'].dt.year
newKKN2 = KKN002[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
newKKN2

      จังหวัด                     สถานี  วัน  เดือน    ปี ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1     10  2011               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2     10  2011               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3     10  2011               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    4     10  2011               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    5     10  2011               86
...       ...                       ...  ...    ...   ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   27      2  2022               58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   28      2  2022               62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   29      2  2022                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   30      2  2022                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   31      2  2022                -

[1705 rows x 6 columns]

In [235]:
NPM2['จังหวัด'] = "นครพนม"
NPM02 = NPM2.drop(['ที่','เฉลี่ย'],axis=1)
NPM02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM002 = NPM02.stack().reset_index()
NPM002.rename(columns = {'level_3':'วัน',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NPM002['เดือน'] = NPM002['เดือน/ปี'].dt.month
NPM002['ปี'] = NPM002['เดือน/ปี'].dt.year
newNPM2 = NPM002[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNPM2

     จังหวัด                   สถานี  วัน  เดือน    ปี ความชื้นสัมพัทธ์
0     นครพนม  357201-นครพนม จ.นครพนม    1     10  2011               95
1     นครพนม  357201-นครพนม จ.นครพนม    2     10  2011               84
2     นครพนม  357201-นครพนม จ.นครพนม    3     10  2011               74
3     นครพนม  357201-นครพนม จ.นครพนม    4     10  2011               72
4     นครพนม  357201-นครพนม จ.นครพนม    5     10  2011               87
...      ...                     ...  ...    ...   ...              ...
1700  นครพนม  357201-นครพนม จ.นครพนม   27      2  2022               52
1701  นครพนม  357201-นครพนม จ.นครพนม   28      2  2022               60
1702  นครพนม  357201-นครพนม จ.นครพนม   29      2  2022                -
1703  นครพนม  357201-นครพนม จ.นครพนม   30      2  2022                -
1704  นครพนม  357201-นครพนม จ.นครพนม   31      2  2022                -

[1705 rows x 6 columns]

In [234]:
LEI2['จังหวัด'] = "เลย"
LEI02 = LEI2.drop(['ที่','เฉลี่ย'],axis=1)
LEI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI002 = LEI02.stack().reset_index()
LEI002.rename(columns = {'level_3':'วัน',0:'ความชื้นสัมพัทธ์'}, inplace = True)
LEI002['เดือน'] = LEI002['เดือน/ปี'].dt.month
LEI002['ปี'] = LEI002['เดือน/ปี'].dt.year
newLEI2 = LEI002[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
newLEI2

     จังหวัด                  สถานี  วัน  เดือน    ปี ความชื้นสัมพัทธ์
0        เลย  353301-เลย สกษ. จ.เลย    1     10  2011               90
1        เลย  353301-เลย สกษ. จ.เลย    2     10  2011               95
2        เลย  353301-เลย สกษ. จ.เลย    3     10  2011               92
3        เลย  353301-เลย สกษ. จ.เลย    4     10  2011               89
4        เลย  353301-เลย สกษ. จ.เลย    5     10  2011               86
...      ...                    ...  ...    ...   ...              ...
1700     เลย  353301-เลย สกษ. จ.เลย   27      2  2022               74
1701     เลย  353301-เลย สกษ. จ.เลย   28      2  2022               72
1702     เลย  353301-เลย สกษ. จ.เลย   29      2  2022                -
1703     เลย  353301-เลย สกษ. จ.เลย   30      2  2022                -
1704     เลย  353301-เลย สกษ. จ.เลย   31      2  2022                -

[1705 rows x 6 columns]

In [179]:
SNK2['จังหวัด'] = "สกลนคร"
SNK02 = SNK2.drop(['ที่','เฉลี่ย'],axis=1)
SNK02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK002 = SNK02.stack().reset_index()
SNK002.rename(columns = {'level_3':'วัน',0:'ความชื้นสัมพัทธ์'}, inplace = True)
SNK002['เดือน'] = SNK002['เดือน/ปี'].dt.month
SNK002['ปี'] = SNK002['เดือน/ปี'].dt.year
newSNK2 = SNK002[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
newSNK2

     จังหวัด                   สถานี  วัน  เดือน    ปี ความชื้นสัมพัทธ์
0     สกลนคร  356201-สกลนคร จ.สกลนคร    1     10  2011               87
1     สกลนคร  356201-สกลนคร จ.สกลนคร    2     10  2011               88
2     สกลนคร  356201-สกลนคร จ.สกลนคร    3     10  2011               77
3     สกลนคร  356201-สกลนคร จ.สกลนคร    4     10  2011               75
4     สกลนคร  356201-สกลนคร จ.สกลนคร    5     10  2011               87
...      ...                     ...  ...    ...   ...              ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร   27      2  2022               65
1701  สกลนคร  356201-สกลนคร จ.สกลนคร   28      2  2022               68
1702  สกลนคร  356201-สกลนคร จ.สกลนคร   29      2  2022                -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร   30      2  2022                -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร   31      2  2022                -

[1705 rows x 6 columns]

In [180]:
NKI2['จังหวัด'] = "หนองคาย"
NKI02 = NKI2.drop(['ที่','เฉลี่ย'],axis=1)
NKI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI002 = NKI02.stack().reset_index()
NKI002.rename(columns = {'level_3':'วัน',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NKI002['เดือน'] = NKI002['เดือน/ปี'].dt.month
NKI002['ปี'] = NKI002['เดือน/ปี'].dt.year
newNKI2 = NKI002[['จังหวัด','สถานี','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNKI2

      จังหวัด                     สถานี  วัน  เดือน    ปี ความชื้นสัมพัทธ์
0     หนองคาย  352201-หนองคาย จ.หนองคาย    1     10  2011               89
1     หนองคาย  352201-หนองคาย จ.หนองคาย    2     10  2011               91
2     หนองคาย  352201-หนองคาย จ.หนองคาย    3     10  2011               78
3     หนองคาย  352201-หนองคาย จ.หนองคาย    4     10  2011               75
4     หนองคาย  352201-หนองคาย จ.หนองคาย    5     10  2011               90
...       ...                       ...  ...    ...   ...              ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย   27      2  2022               62
1701  หนองคาย  352201-หนองคาย จ.หนองคาย   28      2  2022               65
1702  หนองคาย  352201-หนองคาย จ.หนองคาย   29      2  2022                -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย   30      2  2022                -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย   31      2  2022                -

[1705 rows x 6 columns]

##ความเร็วลม

In [181]:
KKN3['จังหวัด'] = "ขอนแก่น"
KKN03 = KKN3.drop(['ที่','เฉลี่ย'],axis=1)
KKN03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN003 = KKN03.stack().reset_index()
KKN003.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
KKN003['เดือน'] = KKN003['เดือน/ปี'].dt.month
KKN003['ปี'] = KKN003['เดือน/ปี'].dt.year
newKKN3 = KKN003[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
newKKN3

      จังหวัด                  สถานี  วัน  เดือน    ปี ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย    1     10  2011          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย    2     10  2011          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย    3     10  2011          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย    4     10  2011          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย    5     10  2011          2
...       ...                    ...  ...    ...   ...        ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย   27      2  2022          2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย   28      2  2022          2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย   29      2  2022          -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย   30      2  2022          -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย   31      2  2022          -

[1705 rows x 6 columns]

In [182]:
NPM3['จังหวัด'] = "นครพนม"
NPM03 = NPM3.drop(['ที่','เฉลี่ย'],axis=1)
NPM03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM003 = NPM03.stack().reset_index()
NPM003.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
NPM003['เดือน'] = NPM003['เดือน/ปี'].dt.month
NPM003['ปี'] = NPM003['เดือน/ปี'].dt.year
newNPM3 = NPM003[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
newNPM3

     จังหวัด                  สถานี  วัน  เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย    1     10  2011          1
1     นครพนม  353301-เลย สกษ. จ.เลย    2     10  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย    3     10  2011          2
3     นครพนม  353301-เลย สกษ. จ.เลย    4     10  2011          2
4     นครพนม  353301-เลย สกษ. จ.เลย    5     10  2011          1
...      ...                    ...  ...    ...   ...        ...
1700  นครพนม  353301-เลย สกษ. จ.เลย   27      2  2022          2
1701  นครพนม  353301-เลย สกษ. จ.เลย   28      2  2022          1
1702  นครพนม  353301-เลย สกษ. จ.เลย   29      2  2022          -
1703  นครพนม  353301-เลย สกษ. จ.เลย   30      2  2022          -
1704  นครพนม  353301-เลย สกษ. จ.เลย   31      2  2022          -

[1705 rows x 6 columns]

In [183]:
LEI3['จังหวัด'] = "เลย"
LEI03 = LEI3.drop(['ที่','เฉลี่ย'],axis=1)
LEI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI003 = LEI03.stack().reset_index()
LEI003.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
LEI003['เดือน'] = LEI003['เดือน/ปี'].dt.month
LEI003['ปี'] = LEI003['เดือน/ปี'].dt.year
newLEI3 = LEI003[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
newLEI3

     จังหวัด                  สถานี  วัน  เดือน    ปี ความเร็วลม
0        เลย  353301-เลย สกษ. จ.เลย    1     10  2011          2
1        เลย  353301-เลย สกษ. จ.เลย    2     10  2011          2
2        เลย  353301-เลย สกษ. จ.เลย    3     10  2011          3
3        เลย  353301-เลย สกษ. จ.เลย    4     10  2011          2
4        เลย  353301-เลย สกษ. จ.เลย    5     10  2011          3
...      ...                    ...  ...    ...   ...        ...
1700     เลย  353301-เลย สกษ. จ.เลย   27      2  2022          1
1701     เลย  353301-เลย สกษ. จ.เลย   28      2  2022          1
1702     เลย  353301-เลย สกษ. จ.เลย   29      2  2022          -
1703     เลย  353301-เลย สกษ. จ.เลย   30      2  2022          -
1704     เลย  353301-เลย สกษ. จ.เลย   31      2  2022          -

[1705 rows x 6 columns]

In [184]:
SNK3['จังหวัด'] = "สกลนคร"
SNK03 = SNK3.drop(['ที่','เฉลี่ย'],axis=1)
SNK03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK003 = SNK03.stack().reset_index()
SNK003.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
SNK003['เดือน'] = SNK003['เดือน/ปี'].dt.month
SNK003['ปี'] = SNK003['เดือน/ปี'].dt.year
newSNK3 = SNK003[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
newSNK3

     จังหวัด                  สถานี  วัน  เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย    1     10  2011          1
1     สกลนคร  353301-เลย สกษ. จ.เลย    2     10  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย    3     10  2011          2
3     สกลนคร  353301-เลย สกษ. จ.เลย    4     10  2011          2
4     สกลนคร  353301-เลย สกษ. จ.เลย    5     10  2011          1
...      ...                    ...  ...    ...   ...        ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย   27      2  2022          3
1701  สกลนคร  353301-เลย สกษ. จ.เลย   28      2  2022          2
1702  สกลนคร  353301-เลย สกษ. จ.เลย   29      2  2022          -
1703  สกลนคร  353301-เลย สกษ. จ.เลย   30      2  2022          -
1704  สกลนคร  353301-เลย สกษ. จ.เลย   31      2  2022          -

[1705 rows x 6 columns]

In [185]:
NKI3['จังหวัด'] = "หนองคาย"
NKI03 = NKI3.drop(['ที่','เฉลี่ย'],axis=1)
NKI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI003 = NKI03.stack().reset_index()
NKI003.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
NKI003['เดือน'] = NKI003['เดือน/ปี'].dt.month
NKI003['ปี'] = NKI003['เดือน/ปี'].dt.year
newNKI3 = NKI003[['จังหวัด','สถานี','วัน','เดือน','ปี','ความเร็วลม']]
newNKI3

      จังหวัด                  สถานี  วัน  เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย    1     10  2011          1
1     หนองคาย  353301-เลย สกษ. จ.เลย    2     10  2011          4
2     หนองคาย  353301-เลย สกษ. จ.เลย    3     10  2011          4
3     หนองคาย  353301-เลย สกษ. จ.เลย    4     10  2011          2
4     หนองคาย  353301-เลย สกษ. จ.เลย    5     10  2011          1
...       ...                    ...  ...    ...   ...        ...
1700  หนองคาย  353301-เลย สกษ. จ.เลย   27      2  2022          2
1701  หนองคาย  353301-เลย สกษ. จ.เลย   28      2  2022          2
1702  หนองคาย  353301-เลย สกษ. จ.เลย   29      2  2022          -
1703  หนองคาย  353301-เลย สกษ. จ.เลย   30      2  2022          -
1704  หนองคาย  353301-เลย สกษ. จ.เลย   31      2  2022          -

[1705 rows x 6 columns]

##จำนวนเมฆ

In [186]:
KKN4['จังหวัด'] = "ขอนแก่น"
KKN04 = KKN4.drop(['ที่','เฉลี่ย'],axis=1)
KKN04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN004 = KKN04.stack().reset_index()
KKN004.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
KKN004['เดือน'] = KKN004['เดือน/ปี'].dt.month
KKN004['ปี'] = KKN004['เดือน/ปี'].dt.year
newKKN4 = KKN004[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
newKKN4

      จังหวัด                  สถานี  วัน  เดือน    ปี จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย    1     10  2011        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย    2     10  2011       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย    3     10  2011       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย    4     10  2011        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย    5     10  2011       10
...       ...                    ...  ...    ...   ...      ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย   27      2  2022        2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย   28      2  2022        2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย   29      2  2022        -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย   30      2  2022        -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย   31      2  2022        -

[1705 rows x 6 columns]

In [187]:
NPM4['จังหวัด'] = "นครพนม"
NPM04 = NPM4.drop(['ที่','เฉลี่ย'],axis=1)
NPM04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM004 = NPM04.stack().reset_index()
NPM004.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
NPM004['เดือน'] = NPM004['เดือน/ปี'].dt.month
NPM004['ปี'] = NPM004['เดือน/ปี'].dt.year
newNPM4 = NPM004[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
newNPM4

     จังหวัด                  สถานี  วัน  เดือน    ปี จำนวนเมฆ
0     นครพนม  353301-เลย สกษ. จ.เลย    1     10  2011       10
1     นครพนม  353301-เลย สกษ. จ.เลย    2     10  2011        7
2     นครพนม  353301-เลย สกษ. จ.เลย    3     10  2011        8
3     นครพนม  353301-เลย สกษ. จ.เลย    4     10  2011        8
4     นครพนม  353301-เลย สกษ. จ.เลย    5     10  2011       10
...      ...                    ...  ...    ...   ...      ...
1700  นครพนม  353301-เลย สกษ. จ.เลย   27      2  2022        1
1701  นครพนม  353301-เลย สกษ. จ.เลย   28      2  2022        0
1702  นครพนม  353301-เลย สกษ. จ.เลย   29      2  2022        -
1703  นครพนม  353301-เลย สกษ. จ.เลย   30      2  2022        -
1704  นครพนม  353301-เลย สกษ. จ.เลย   31      2  2022        -

[1705 rows x 6 columns]

In [188]:
LEI4['จังหวัด'] = "เลย"
LEI04 = LEI4.drop(['ที่','เฉลี่ย'],axis=1)
LEI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI004 = LEI04.stack().reset_index()
LEI004.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
LEI004['เดือน'] = LEI004['เดือน/ปี'].dt.month
LEI004['ปี'] = LEI004['เดือน/ปี'].dt.year
newLEI4 = LEI004[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
newLEI4

     จังหวัด                  สถานี   วัน  เดือน    ปี จำนวนเมฆ
0        เลย  353301-เลย สกษ. จ.เลย   1.0     10  2011      8.0
1        เลย  353301-เลย สกษ. จ.เลย   2.0     10  2011     10.0
2        เลย  353301-เลย สกษ. จ.เลย   3.0     10  2011     10.0
3        เลย  353301-เลย สกษ. จ.เลย   4.0     10  2011      9.0
4        เลย  353301-เลย สกษ. จ.เลย   5.0     10  2011      8.0
...      ...                    ...   ...    ...   ...      ...
1700     เลย  353301-เลย สกษ. จ.เลย  27.0      2  2022      3.0
1701     เลย  353301-เลย สกษ. จ.เลย  28.0      2  2022      2.0
1702     เลย  353301-เลย สกษ. จ.เลย  29.0      2  2022        -
1703     เลย  353301-เลย สกษ. จ.เลย  30.0      2  2022        -
1704     เลย  353301-เลย สกษ. จ.เลย  31.0      2  2022        -

[1705 rows x 6 columns]

In [189]:
SNK4['จังหวัด'] = "สกลนคร"
SNK04 = SNK4.drop(['ที่','เฉลี่ย'],axis=1)
SNK04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK004 = SNK04.stack().reset_index()
SNK004.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
SNK004['เดือน'] = SNK004['เดือน/ปี'].dt.month
SNK004['ปี'] = SNK004['เดือน/ปี'].dt.year
newSNK4 = SNK004[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
newSNK4

     จังหวัด                  สถานี  วัน  เดือน    ปี จำนวนเมฆ
0     สกลนคร  353301-เลย สกษ. จ.เลย    1     10  2011        9
1     สกลนคร  353301-เลย สกษ. จ.เลย    2     10  2011        9
2     สกลนคร  353301-เลย สกษ. จ.เลย    3     10  2011        7
3     สกลนคร  353301-เลย สกษ. จ.เลย    4     10  2011        7
4     สกลนคร  353301-เลย สกษ. จ.เลย    5     10  2011        9
...      ...                    ...  ...    ...   ...      ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย   27      2  2022        3
1701  สกลนคร  353301-เลย สกษ. จ.เลย   28      2  2022        0
1702  สกลนคร  353301-เลย สกษ. จ.เลย   29      2  2022        1
1703  สกลนคร  353301-เลย สกษ. จ.เลย   30      2  2022        1
1704  สกลนคร  353301-เลย สกษ. จ.เลย   31      2  2022        -

[1705 rows x 6 columns]

In [190]:
NKI4['จังหวัด'] = "หนองคาย"
NKI04 = NKI4.drop(['ที่','เฉลี่ย'],axis=1)
NKI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI004 = NKI04.stack().reset_index()
NKI004.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
NKI004['เดือน'] = NKI004['เดือน/ปี'].dt.month
NKI004['ปี'] = NKI004['เดือน/ปี'].dt.year
newNKI4 = NKI004[['จังหวัด','สถานี','วัน','เดือน','ปี','จำนวนเมฆ']]
newNKI4

      จังหวัด                  สถานี  วัน  เดือน    ปี จำนวนเมฆ
0     หนองคาย  353301-เลย สกษ. จ.เลย    1     10  2011       10
1     หนองคาย  353301-เลย สกษ. จ.เลย    2     10  2011       10
2     หนองคาย  353301-เลย สกษ. จ.เลย    3     10  2011        8
3     หนองคาย  353301-เลย สกษ. จ.เลย    4     10  2011        9
4     หนองคาย  353301-เลย สกษ. จ.เลย    5     10  2011        9
...       ...                    ...  ...    ...   ...      ...
1697  หนองคาย  353301-เลย สกษ. จ.เลย   27      2  2022        3
1698  หนองคาย  353301-เลย สกษ. จ.เลย   28      2  2022        2
1699  หนองคาย  353301-เลย สกษ. จ.เลย   29      2  2022        1
1700  หนองคาย  353301-เลย สกษ. จ.เลย   30      2  2022        1
1701  หนองคาย  353301-เลย สกษ. จ.เลย   31      2  2022        -

[1702 rows x 6 columns]

##ปริมาณฝน

In [191]:
KKN5['จังหวัด'] = "ขอนแก่น"
KKN05 = KKN5.drop(['ที่','เฉลี่ย'],axis=1)
KKN05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN005 = KKN05.stack().reset_index()
KKN005.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
KKN005['เดือน'] = KKN005['เดือน/ปี'].dt.month
KKN005['ปี'] = KKN005['เดือน/ปี'].dt.year
newKKN5 = KKN005[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
newKKN5

      จังหวัด                     สถานี  วัน  เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1     10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2     10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3     10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    4     10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    5     10  2011      2.2
...       ...                       ...  ...    ...   ...      ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   27      2  2022        0
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   28      2  2022        -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   29      2  2022        -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   30      2  2022        -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   31      2  2022        -

[1705 rows x 6 columns]

In [192]:
NPM5['จังหวัด'] = "นครพนม"
NPM05 = NPM5.drop(['ที่','เฉลี่ย'],axis=1)
NPM05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM005 = NPM05.stack().reset_index()
NPM005.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
NPM005['เดือน'] = NPM005['เดือน/ปี'].dt.month
NPM005['ปี'] = NPM005['เดือน/ปี'].dt.year
newNPM5 = NPM005[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
newNPM5

     จังหวัด                   สถานี  วัน  เดือน    ปี ปริมาณฝน
0     นครพนม  357201-นครพนม จ.นครพนม    1     10  2011       17
1     นครพนม  357201-นครพนม จ.นครพนม    2     10  2011      0.3
2     นครพนม  357201-นครพนม จ.นครพนม    3     10  2011        0
3     นครพนม  357201-นครพนม จ.นครพนม    4     10  2011      0.3
4     นครพนม  357201-นครพนม จ.นครพนม    5     10  2011      1.9
...      ...                     ...  ...    ...   ...      ...
1700  นครพนม  357201-นครพนม จ.นครพนม   27      2  2022        0
1701  นครพนม  357201-นครพนม จ.นครพนม   28      2  2022        0
1702  นครพนม  357201-นครพนม จ.นครพนม   29      2  2022        -
1703  นครพนม  357201-นครพนม จ.นครพนม   30      2  2022        -
1704  นครพนม  357201-นครพนม จ.นครพนม   31      2  2022        -

[1705 rows x 6 columns]

In [193]:
LEI5['จังหวัด'] = "เลย"
LEI05 = LEI5.drop(['ที่','เฉลี่ย'],axis=1)
LEI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI005 = LEI05.stack().reset_index()
LEI005.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
LEI005['เดือน'] = LEI005['เดือน/ปี'].dt.month
LEI005['ปี'] = LEI005['เดือน/ปี'].dt.year
newLEI5 = LEI005[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
newLEI5

     จังหวัด             สถานี  วัน  เดือน    ปี ปริมาณฝน
0        เลย  353201-เลย จ.เลย    1     10  2011     21.6
1        เลย  353201-เลย จ.เลย    2     10  2011    111.4
2        เลย  353201-เลย จ.เลย    3     10  2011      0.4
3        เลย  353201-เลย จ.เลย    4     10  2011        0
4        เลย  353201-เลย จ.เลย    5     10  2011        0
...      ...               ...  ...    ...   ...      ...
1698     เลย  353201-เลย จ.เลย   27      2  2022        0
1699     เลย  353201-เลย จ.เลย   28      2  2022        0
1700     เลย  353201-เลย จ.เลย   29      2  2022        -
1701     เลย  353201-เลย จ.เลย   30      2  2022        -
1702     เลย  353201-เลย จ.เลย   31      2  2022        -

[1703 rows x 6 columns]

In [194]:
SNK5['จังหวัด'] = "สกลนคร"
SNK05 = SNK5.drop(['ที่','เฉลี่ย'],axis=1)
SNK05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK005 = SNK05.stack().reset_index()
SNK005.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
SNK005['เดือน'] = SNK005['เดือน/ปี'].dt.month
SNK005['ปี'] = SNK005['เดือน/ปี'].dt.year
newSNK5 = SNK005[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
newSNK5

     จังหวัด                   สถานี  วัน  เดือน    ปี ปริมาณฝน
0     สกลนคร  356201-สกลนคร จ.สกลนคร    1     10  2011     84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร    2     10  2011     28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร    3     10  2011        0
3     สกลนคร  356201-สกลนคร จ.สกลนคร    4     10  2011        T
4     สกลนคร  356201-สกลนคร จ.สกลนคร    5     10  2011      5.5
...      ...                     ...  ...    ...   ...      ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร   27      2  2022        0
1701  สกลนคร  356201-สกลนคร จ.สกลนคร   28      2  2022        -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร   29      2  2022        -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร   30      2  2022        -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร   31      2  2022        -

[1705 rows x 6 columns]

In [195]:
NKI5['จังหวัด'] = "หนองคาย"
NKI05 = NKI5.drop(['ที่','เฉลี่ย'],axis=1)
NKI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI005 = NKI05.stack().reset_index()
NKI005.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
NKI005['เดือน'] = NKI005['เดือน/ปี'].dt.month
NKI005['ปี'] = NKI005['เดือน/ปี'].dt.year
newNKI5 = NKI005[['จังหวัด','สถานี','วัน','เดือน','ปี','ปริมาณฝน']]
newNKI5

      จังหวัด                     สถานี  วัน  เดือน    ปี ปริมาณฝน
0     หนองคาย  352201-หนองคาย จ.หนองคาย    1     10  2011     48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย    2     10  2011       59
2     หนองคาย  352201-หนองคาย จ.หนองคาย    3     10  2011        0
3     หนองคาย  352201-หนองคาย จ.หนองคาย    4     10  2011        1
4     หนองคาย  352201-หนองคาย จ.หนองคาย    5     10  2011     19.1
...       ...                       ...  ...    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย   27      2  2022        0
1701  หนองคาย  352201-หนองคาย จ.หนองคาย   28      2  2022        0
1702  หนองคาย  352201-หนองคาย จ.หนองคาย   29      2  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย   30      2  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย   31      2  2022        -

[1705 rows x 6 columns]

##อุณหภูมิจุดน้ำค้าง

In [196]:
KKN6['จังหวัด'] = "ขอนแก่น"
KKN06 = KKN6.drop(['ที่','เฉลี่ย'],axis=1)
KKN06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN006 = KKN06.stack().reset_index()
KKN006.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
KKN006['เดือน'] = KKN006['เดือน/ปี'].dt.month
KKN006['ปี'] = KKN006['เดือน/ปี'].dt.year
newKKN6 = KKN006[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newKKN6

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1     10  2011               24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2     10  2011               24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3     10  2011               22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    4     10  2011               21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    5     10  2011               21.7
...       ...                       ...  ...    ...   ...                ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   27      2  2022               15.7
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   28      2  2022               17.5
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   29      2  2022                  -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   30      2  2022                  -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   31      2  2022                  -

[1705 rows x 6 columns]

In [197]:
NPM6['จังหวัด'] = "นครพนม"
NPM06 = NPM6.drop(['ที่','เฉลี่ย'],axis=1)
NPM06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM006 = NPM06.stack().reset_index()
NPM006.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NPM006['เดือน'] = NPM006['เดือน/ปี'].dt.month
NPM006['ปี'] = NPM006['เดือน/ปี'].dt.year
newNPM6 = NPM006[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNPM6

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     นครพนม  357201-นครพนม จ.นครพนม    1     10  2011               25.1
1     นครพนม  357201-นครพนม จ.นครพนม    2     10  2011               23.1
2     นครพนม  357201-นครพนม จ.นครพนม    3     10  2011               20.1
3     นครพนม  357201-นครพนม จ.นครพนม    4     10  2011               18.9
4     นครพนม  357201-นครพนม จ.นครพนม    5     10  2011               20.7
...      ...                     ...  ...    ...   ...                ...
1700  นครพนม  357201-นครพนม จ.นครพนม   27      2  2022               13.2
1701  นครพนม  357201-นครพนม จ.นครพนม   28      2  2022               14.9
1702  นครพนม  357201-นครพนม จ.นครพนม   29      2  2022                  -
1703  นครพนม  357201-นครพนม จ.นครพนม   30      2  2022                  -
1704  นครพนม  357201-นครพนม จ.นครพนม   31      2  2022                  -

[1705 rows x 6 columns]

In [198]:
LEI6['จังหวัด'] = "เลย"
LEI06 = LEI6.drop(['ที่','เฉลี่ย'],axis=1)
LEI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI006 = LEI06.stack().reset_index()
LEI006.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
LEI006['เดือน'] = LEI006['เดือน/ปี'].dt.month
LEI006['ปี'] = LEI006['เดือน/ปี'].dt.year
newLEI6 = LEI006[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newLEI6

     จังหวัด             สถานี  วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0        เลย  353201-เลย จ.เลย    1     10  2011               23.6
1        เลย  353201-เลย จ.เลย    2     10  2011               23.5
2        เลย  353201-เลย จ.เลย    3     10  2011               21.9
3        เลย  353201-เลย จ.เลย    4     10  2011               21.9
4        เลย  353201-เลย จ.เลย    5     10  2011               21.8
...      ...               ...  ...    ...   ...                ...
1544     เลย  353201-เลย จ.เลย   27      2  2021               13.8
1545     เลย  353201-เลย จ.เลย   28      2  2021               15.2
1546     เลย  353201-เลย จ.เลย   29      2  2021                  -
1547     เลย  353201-เลย จ.เลย   30      2  2021                  -
1548     เลย  353201-เลย จ.เลย   31      2  2021                  -

[1549 rows x 6 columns]

In [199]:
SNK6['จังหวัด'] = "สกลนคร"
SNK06 = SNK6.drop(['ที่','เฉลี่ย'],axis=1)
SNK06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK006 = SNK06.stack().reset_index()
SNK006.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
SNK006['เดือน'] = SNK006['เดือน/ปี'].dt.month
SNK006['ปี'] = SNK006['เดือน/ปี'].dt.year
newSNK6 = SNK006[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newSNK6

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     สกลนคร  356201-สกลนคร จ.สกลนคร    1     10  2011               24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร    2     10  2011               23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร    3     10  2011               21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร    4     10  2011               20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร    5     10  2011               21.2
...      ...                     ...  ...    ...   ...                ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร   27      2  2022               15.7
1701  สกลนคร  356201-สกลนคร จ.สกลนคร   28      2  2022               17.3
1702  สกลนคร  356201-สกลนคร จ.สกลนคร   29      2  2022                  -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร   30      2  2022                  -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร   31      2  2022                  -

[1705 rows x 6 columns]

In [200]:
NKI6['จังหวัด'] = "หนองคาย"
NKI06 = NKI6.drop(['ที่','เฉลี่ย'],axis=1)
NKI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI006 = NKI06.stack().reset_index()
NKI006.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NKI006['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI006['ปี'] = NKI006['เดือน/ปี'].dt.year
newNKI6 = NKI006[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNKI6

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     หนองคาย  352201-หนองคาย จ.หนองคาย    1     10  2011               24.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย    2     10  2011               23.8
2     หนองคาย  352201-หนองคาย จ.หนองคาย    3     10  2011               22.4
3     หนองคาย  352201-หนองคาย จ.หนองคาย    4     10  2011               21.9
4     หนองคาย  352201-หนองคาย จ.หนองคาย    5     10  2011               23.3
...       ...                       ...  ...    ...   ...                ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย   27      2  2022               15.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย   28      2  2022               17.8
1702  หนองคาย  352201-หนองคาย จ.หนองคาย   29      2  2022               16.6
1703  หนองคาย  352201-หนองคาย จ.หนองคาย   30      2  2022               14.9
1704  หนองคาย  352201-หนองคาย จ.หนองคาย   31      2  2022                  -

[1705 rows x 6 columns]

##อุณหภูมิต่ำสุด

In [201]:
KKN7['จังหวัด'] = "ขอนแก่น"
KKN07 = KKN7.drop(['ที่','เฉลี่ย'],axis=1)
KKN07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN007 = KKN07.stack().reset_index()
KKN007.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
KKN007['เดือน'] = KKN007['เดือน/ปี'].dt.month
KKN007['ปี'] = KKN007['เดือน/ปี'].dt.year
newKKN7 = KKN007[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
newKKN7

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1     10  2011           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2     10  2011           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3     10  2011           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    4     10  2011           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    5     10  2011           23.1
...       ...                       ...  ...    ...   ...            ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   27      2  2022           18.2
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   28      2  2022              -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   29      2  2022              -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   30      2  2022              -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   31      2  2022              -

[1705 rows x 6 columns]

In [202]:
NPM7['จังหวัด'] = "นครพนม"
NPM07 = NPM7.drop(['ที่','เฉลี่ย'],axis=1)
NPM07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM007 = NPM07.stack().reset_index()
NPM007.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NPM007['เดือน'] = NPM007['เดือน/ปี'].dt.month
NPM007['ปี'] = NPM007['เดือน/ปี'].dt.year
newNPM7 = NPM007[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNPM7

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิต่ำสุด
0     นครพนม  357201-นครพนม จ.นครพนม    1     10  2011           25.0
1     นครพนม  357201-นครพนม จ.นครพนม    2     10  2011           23.4
2     นครพนม  357201-นครพนม จ.นครพนม    3     10  2011           22.2
3     นครพนม  357201-นครพนม จ.นครพนม    4     10  2011           20.6
4     นครพนม  357201-นครพนม จ.นครพนม    5     10  2011           21.1
...      ...                     ...  ...    ...   ...            ...
1700  นครพนม  357201-นครพนม จ.นครพนม   27      2  2022           18.1
1701  นครพนม  357201-นครพนม จ.นครพนม   28      2  2022             16
1702  นครพนม  357201-นครพนม จ.นครพนม   29      2  2022              -
1703  นครพนม  357201-นครพนม จ.นครพนม   30      2  2022              -
1704  นครพนม  357201-นครพนม จ.นครพนม   31      2  2022              -

[1705 rows x 6 columns]

In [203]:
LEI7['จังหวัด'] = "เลย"
LEI07 = LEI7.drop(['ที่','เฉลี่ย'],axis=1)
LEI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI007 = LEI07.stack().reset_index()
LEI007.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
LEI007['เดือน'] = LEI007['เดือน/ปี'].dt.month
LEI007['ปี'] = LEI007['เดือน/ปี'].dt.year
newLEI7 = LEI007[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
newLEI7

     จังหวัด             สถานี  วัน  เดือน    ปี อุณหภูมิต่ำสุด
0        เลย  353201-เลย จ.เลย    1     10  2011           23.5
1        เลย  353201-เลย จ.เลย    2     10  2011           24.3
2        เลย  353201-เลย จ.เลย    3     10  2011           22.5
3        เลย  353201-เลย จ.เลย    4     10  2011           23.0
4        เลย  353201-เลย จ.เลย    5     10  2011           22.7
...      ...               ...  ...    ...   ...            ...
1700     เลย  353201-เลย จ.เลย   27      2  2022           15.0
1701     เลย  353201-เลย จ.เลย   28      2  2022           17.6
1702     เลย  353201-เลย จ.เลย   29      2  2022              -
1703     เลย  353201-เลย จ.เลย   30      2  2022              -
1704     เลย  353201-เลย จ.เลย   31      2  2022              -

[1705 rows x 6 columns]

In [204]:
SNK7['จังหวัด'] = "สกลนคร"
SNK07 = SNK7.drop(['ที่','เฉลี่ย'],axis=1)
SNK07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK007 = SNK07.stack().reset_index()
SNK007.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
SNK007['เดือน'] = SNK007['เดือน/ปี'].dt.month
SNK007['ปี'] = SNK007['เดือน/ปี'].dt.year
newSNK7 = SNK007[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
newSNK7

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิต่ำสุด
0     สกลนคร  356201-สกลนคร จ.สกลนคร    1     10  2011           24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร    2     10  2011           23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร    3     10  2011           22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร    4     10  2011           21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร    5     10  2011           22.5
...      ...                     ...  ...    ...   ...            ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร   27      2  2022           16.1
1701  สกลนคร  356201-สกลนคร จ.สกลนคร   28      2  2022              -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร   29      2  2022              -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร   30      2  2022              -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร   31      2  2022              -

[1705 rows x 6 columns]

In [205]:
NKI7['จังหวัด'] = "หนองคาย"
NKI07 = NKI7.drop(['ที่','เฉลี่ย'],axis=1)
NKI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI007 = NKI07.stack().reset_index()
NKI007.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NKI007['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI007['ปี'] = NKI007['เดือน/ปี'].dt.year
newNKI7 = NKI007[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNKI7

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิต่ำสุด
0     หนองคาย  352201-หนองคาย จ.หนองคาย    1     10  2011           25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย    2     10  2011           23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย    3     10  2011           23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย    4     10  2011           23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย    5     10  2011           23.3
...       ...                       ...  ...    ...   ...            ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย   27      2  2022           17.5
1701  หนองคาย  352201-หนองคาย จ.หนองคาย   28      2  2022             19
1702  หนองคาย  352201-หนองคาย จ.หนองคาย   29      2  2022              -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย   30      2  2022              -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย   31      2  2022              -

[1705 rows x 6 columns]

##อุณหภูมิตุ้มแห้ง

In [206]:
KKN8['จังหวัด'] = "ขอนแก่น"
KKN08 = KKN8.drop(['ที่','เฉลี่ย'],axis=1)
KKN08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN008 = KKN08.stack().reset_index()
KKN008.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
KKN008['เดือน'] = KKN008['เดือน/ปี'].dt.month
KKN008['ปี'] = KKN008['เดือน/ปี'].dt.year
newKKN8 = KKN008[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newKKN8

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1     10  2011             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2     10  2011             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3     10  2011             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    4     10  2011             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    5     10  2011             24.3
...       ...                       ...  ...    ...   ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   27      2  2022             25.1
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   28      2  2022             25.9
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   29      2  2022                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   30      2  2022                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   31      2  2022                -

[1705 rows x 6 columns]

In [207]:
NPM8['จังหวัด'] = "นครพนม"
NPM08 = NPM8.drop(['ที่','เฉลี่ย'],axis=1)
NPM08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM008 = NPM08.stack().reset_index()
NPM008.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NPM008['เดือน'] = NPM008['เดือน/ปี'].dt.month
NPM008['ปี'] = NPM008['เดือน/ปี'].dt.year
newNPM8 = NPM008[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNPM8

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     นครพนม  357201-นครพนม จ.นครพนม    1     10  2011             25.9
1     นครพนม  357201-นครพนม จ.นครพนม    2     10  2011             26.1
2     นครพนม  357201-นครพนม จ.นครพนม    3     10  2011             25.3
3     นครพนม  357201-นครพนม จ.นครพนม    4     10  2011             24.7
4     นครพนม  357201-นครพนม จ.นครพนม    5     10  2011             23.1
...      ...                     ...  ...    ...   ...              ...
1700  นครพนม  357201-นครพนม จ.นครพนม   27      2  2022             24.1
1701  นครพนม  357201-นครพนม จ.นครพนม   28      2  2022             24.0
1702  นครพนม  357201-นครพนม จ.นครพนม   29      2  2022                -
1703  นครพนม  357201-นครพนม จ.นครพนม   30      2  2022                -
1704  นครพนม  357201-นครพนม จ.นครพนม   31      2  2022                -

[1705 rows x 6 columns]

In [208]:
LEI8['จังหวัด'] = "เลย"
LEI08 = LEI8.drop(['ที่','เฉลี่ย'],axis=1)
LEI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI008 = LEI08.stack().reset_index()
LEI008.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
LEI008['เดือน'] = LEI008['เดือน/ปี'].dt.month
LEI008['ปี'] = LEI008['เดือน/ปี'].dt.year
newLEI8 = LEI008[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newLEI8

     จังหวัด             สถานี  วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0        เลย  353201-เลย จ.เลย    1     10  2011             26.3
1        เลย  353201-เลย จ.เลย    2     10  2011             25.1
2        เลย  353201-เลย จ.เลย    3     10  2011             24.4
3        เลย  353201-เลย จ.เลย    4     10  2011             25.2
4        เลย  353201-เลย จ.เลย    5     10  2011             25.6
...      ...               ...  ...    ...   ...              ...
1545     เลย  353201-เลย จ.เลย   27      2  2021             25.2
1546     เลย  353201-เลย จ.เลย   28      2  2021             25.6
1547     เลย  353201-เลย จ.เลย   29      2  2021                -
1548     เลย  353201-เลย จ.เลย   30      2  2021                -
1549     เลย  353201-เลย จ.เลย   31      2  2021                -

[1550 rows x 6 columns]

In [209]:
SNK8['จังหวัด'] = "สกลนคร"
SNK08 = SNK8.drop(['ที่','เฉลี่ย'],axis=1)
SNK08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK008 = SNK08.stack().reset_index()
SNK008.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
SNK008['เดือน'] = SNK008['เดือน/ปี'].dt.month
SNK008['ปี'] = SNK008['เดือน/ปี'].dt.year
newSNK8 = SNK008[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newSNK8

     จังหวัด                   สถานี  วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     สกลนคร  356201-สกลนคร จ.สกลนคร    1     10  2011             26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร    2     10  2011             25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร    3     10  2011             25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร    4     10  2011             25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร    5     10  2011             23.6
...      ...                     ...  ...    ...   ...              ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร   27      2  2022             23.2
1701  สกลนคร  356201-สกลนคร จ.สกลนคร   28      2  2022             24.4
1702  สกลนคร  356201-สกลนคร จ.สกลนคร   29      2  2022                -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร   30      2  2022                -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร   31      2  2022                -

[1705 rows x 6 columns]

In [210]:
NKI8['จังหวัด'] = "หนองคาย"
NKI08 = NKI8.drop(['ที่','เฉลี่ย'],axis=1)
NKI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI008 = NKI08.stack().reset_index()
NKI008.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NKI008['เดือน'] = NKI008['เดือน/ปี'].dt.month
NKI008['ปี'] = NKI008['เดือน/ปี'].dt.year
newNKI8 = NKI008[['จังหวัด','สถานี','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNKI8

      จังหวัด                     สถานี  วัน  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     หนองคาย  352201-หนองคาย จ.หนองคาย    1     10  2011             26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย    2     10  2011             25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย    3     10  2011             27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย    4     10  2011             26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย    5     10  2011             24.9
...       ...                       ...  ...    ...   ...              ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย   27      2  2022             23.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย   28      2  2022             25.4
1702  หนองคาย  352201-หนองคาย จ.หนองคาย   29      2  2022                -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย   30      2  2022                -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย   31      2  2022                -

[1705 rows x 6 columns]

#ต่อตารางรวมหัวข้อของแต่ละจังหวัด

##ขอนแก่น

In [211]:
kk_pres4 = newKKN1[['จังหวัด','วัน','เดือน','ปี','ความกด']]
kk_hu4 = newKKN2[['จังหวัด','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
kk_dry4 = newKKN3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
kk_dewp4 = newKKN4[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']] 
kk_lowt4 = newKKN5[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
kk_cl4 = newKKN6[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
kk_rain4 = newKKN7[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
kk_wind4 = newKKN8[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [212]:
kk1 = pd.merge(kk_pres4,kk_hu4)
kk2 = pd.merge(kk1,kk_dry4)
kk3 = pd.merge(kk2,kk_dewp4)
kk4 = pd.merge(kk3,kk_lowt4)
kk5 = pd.merge(kk4,kk_cl4)
kk6 = pd.merge(kk5,kk_rain4)
kk7 = pd.merge(kk6,kk_wind4)
kk7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,ขอนแก่น,27,2,2022,1014.37,58,2,2,0,15.7,18.2,25.1
1701,ขอนแก่น,28,2,2022,1013.04,62,2,2,-,17.5,-,25.9
1702,ขอนแก่น,29,2,2022,1013.37,-,-,-,-,-,-,-
1703,ขอนแก่น,30,2,2022,1013.98,-,-,-,-,-,-,-
1704,ขอนแก่น,31,2,2022,-,-,-,-,-,-,-,-

##นครพนม

In [213]:
np_pres4 = newNPM1[['จังหวัด','วัน','เดือน','ปี','ความกด']]
np_hu4 = newNPM2[['จังหวัด','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
np_dry4 = newNPM3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
np_dewp4 = newNPM4[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']] 
np_lowt4 = newNPM5[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
np_cl4 = newNPM6[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
np_rain4 = newNPM7[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
np_wind4 = newNPM8[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [214]:
np1 = pd.merge(np_pres4,np_hu4)
np2 = pd.merge(np1,np_dry4)
np3 = pd.merge(np2,np_dewp4)
np4 = pd.merge(np3,np_lowt4)
np5 = pd.merge(np4,np_cl4)
np6 = pd.merge(np5,np_rain4)
np7 = pd.merge(np6,np_wind4)
np7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,นครพนม,1,10,2011,1006.3,95,1,10,17,25.1,25.0,25.9
1,นครพนม,2,10,2011,1007.38,84,1,7,0.3,23.1,23.4,26.1
2,นครพนม,3,10,2011,1008.07,74,2,8,0,20.1,22.2,25.3
3,นครพนม,4,10,2011,1008.44,72,2,8,0.3,18.9,20.6,24.7
4,นครพนม,5,10,2011,1010.51,87,1,10,1.9,20.7,21.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,นครพนม,27,2,2022,1016.43,52,2,1,0,13.2,18.1,24.1
1701,นครพนม,28,2,2022,1013.53,60,1,0,0,14.9,16,24.0
1702,นครพนม,29,2,2022,1013.37,-,-,-,-,-,-,-
1703,นครพนม,30,2,2022,1013.98,-,-,-,-,-,-,-
1704,นครพนม,31,2,2022,-,-,-,-,-,-,-,-

##เลย

In [215]:
l_pres4 = newLEI1[['จังหวัด','วัน','เดือน','ปี','ความกด']]
l_hu4 = newLEI2[['จังหวัด','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
l_dry4 = newLEI3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
l_dewp4 = newLEI4[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']] 
l_lowt4 = newLEI5[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
l_cl4 = newLEI6[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
l_rain4 = newLEI7[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
l_wind4 = newLEI8[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [216]:
l1 = pd.merge(l_pres4,l_hu4)
l2 = pd.merge(l1,l_dry4)
l3 = pd.merge(l2,l_dewp4)
l4 = pd.merge(l3,l_lowt4)
l5 = pd.merge(l4,l_cl4)
l6 = pd.merge(l5,l_rain4)
l7 = pd.merge(l6,l_wind4)
l7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,เลย,1.0,10,2011,1005.12,90,2,8.0,21.6,23.6,23.5,26.3
1,เลย,2.0,10,2011,1006.51,95,2,10.0,111.4,23.5,24.3,25.1
2,เลย,3.0,10,2011,1007.81,92,3,10.0,0.4,21.9,22.5,24.4
3,เลย,4.0,10,2011,1008.15,89,2,9.0,0,21.9,23.0,25.2
4,เลย,5.0,10,2011,1009.21,86,3,8.0,0,21.8,22.7,25.6
...,...,...,...,...,...,...,...,...,...,...,...,...
1542,เลย,27.0,2,2021,1005.76,56,1,2.0,0,13.8,15.3,25.2
1543,เลย,28.0,2,2021,1008.21,58,1,1.0,0,15.2,16,25.6
1544,เลย,29.0,2,2021,-,-,-,4.0,-,-,-,-
1545,เลย,30.0,2,2021,-,-,-,-,-,-,-,-
1546,เลย,31.0,2,2021,-,-,-,-,-,-,-,-

##สกลนคร

In [217]:
sk_pres4 = newSNK1[['จังหวัด','วัน','เดือน','ปี','ความกด']]
sk_hu4 = newSNK2[['จังหวัด','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
sk_dry4 = newSNK3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
sk_dewp4 = newSNK4[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']]  
sk_lowt4 = newSNK5[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
sk_cl4 = newSNK6[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
sk_rain4 = newSNK7[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
sk_wind4 = newSNK8[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [218]:
sk1 = pd.merge(sk_pres4,sk_hu4)
sk2 = pd.merge(sk1,sk_dry4)
sk3 = pd.merge(sk2,sk_dewp4)
sk4 = pd.merge(sk3,sk_lowt4)
sk5 = pd.merge(sk4,sk_cl4)
sk6 = pd.merge(sk5,sk_rain4)
sk7 = pd.merge(sk6,sk_wind4)
sk7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,สกลนคร,1,10,2011,1005.84,87,1,9,84.8,24.5,24.5,26.9
1,สกลนคร,2,10,2011,1007.16,88,1,9,28.1,23.6,23.1,25.9
2,สกลนคร,3,10,2011,1007.87,77,2,7,0,21.1,22.6,25.7
3,สกลนคร,4,10,2011,1008.56,75,2,7,T,20.0,21.8,25.2
4,สกลนคร,5,10,2011,1010.55,87,1,9,5.5,21.2,22.5,23.6
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,สกลนคร,27,2,2022,1014.95,65,3,3,0,15.7,16.1,23.2
1701,สกลนคร,28,2,2022,1012.89,68,2,0,-,17.3,-,24.4
1702,สกลนคร,29,2,2022,1013.37,-,-,1,-,-,-,-
1703,สกลนคร,30,2,2022,1013.98,-,-,1,-,-,-,-
1704,สกลนคร,31,2,2022,-,-,-,-,-,-,-,-

##หนองคาย

In [219]:
nk_pres4 = newNKI1[['จังหวัด','วัน','เดือน','ปี','ความกด']]
nk_hu4 = newNKI2[['จังหวัด','วัน','เดือน','ปี','ความชื้นสัมพัทธ์']]
nk_dry4 = newNKI3[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
nk_dewp4 = newNKI4[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']]
nk_lowt4 = newNKI5[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
nk_cl4 = newNKI6[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
nk_rain4 = newNKI7[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
nk_wind4 = newNKI8[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [220]:
nk1 = pd.merge(nk_pres4,nk_hu4)
nk2 = pd.merge(nk1,nk_dry4)
nk3 = pd.merge(nk2,nk_dewp4)
nk4 = pd.merge(nk3,nk_lowt4)
nk5 = pd.merge(nk4,nk_cl4)
nk6 = pd.merge(nk5,nk_rain4)
nk7 = pd.merge(nk6,nk_wind4)
nk7

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,หนองคาย,1.0,10,2011,1005.34,89,1,10,48.6,24.6,25.3,26.7
1,หนองคาย,2.0,10,2011,1006.67,91,4,10,59,23.8,23.3,25.5
2,หนองคาย,3.0,10,2011,1007.39,78,4,8,0,22.4,23.6,27.0
3,หนองคาย,4.0,10,2011,1008.11,75,2,9,1,21.9,23.8,26.8
4,หนองคาย,5.0,10,2011,1009.69,90,1,9,19.1,23.3,23.3,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1697,หนองคาย,27.0,2,2022,1015.31,62,2,3,0,15.8,17.5,23.8
1698,หนองคาย,28.0,2,2022,1013.06,65,2,2,0,17.8,19,25.4
1699,หนองคาย,29.0,2,2022,-,-,-,1,-,16.6,-,-
1700,หนองคาย,30.0,2,2022,-,-,-,1,-,14.9,-,-
1701,หนองคาย,31.0,2,2022,-,-,-,-,-,-,-,-

# รวมทุกตาราง Final Table

In [221]:
FinalTable = pd.concat([kk7,np7,l7,sk7,nk7])
FinalTable

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,1.0,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6
1,ขอนแก่น,2.0,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6
2,ขอนแก่น,3.0,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6
3,ขอนแก่น,4.0,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8
4,ขอนแก่น,5.0,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1697,หนองคาย,27.0,2,2022,1015.31,62,2,3,0,15.8,17.5,23.8
1698,หนองคาย,28.0,2,2022,1013.06,65,2,2,0,17.8,19,25.4
1699,หนองคาย,29.0,2,2022,-,-,-,1,-,16.6,-,-
1700,หนองคาย,30.0,2,2022,-,-,-,1,-,14.9,-,-
1701,หนองคาย,31.0,2,2022,-,-,-,-,-,-,-,-

#ลองทำแบบมีสถานี

In [222]:
Table1 = pd.concat([newKKN1,newNPM1,newLEI1,newSNK1,newNKI1])
Table2 = pd.concat([newKKN2,newNPM2,newLEI2,newSNK2,newNKI2])
Table3 = pd.concat([newKKN3,newNPM3,newLEI3,newSNK3,newNKI3])
Table4 = pd.concat([newKKN4,newNPM4,newLEI4,newSNK4,newNKI4])
Table5 = pd.concat([newKKN5,newNPM5,newLEI5,newSNK5,newNKI5])
Table6 = pd.concat([newKKN6,newNPM6,newLEI6,newSNK6,newNKI6])
Table7 = pd.concat([newKKN7,newNPM7,newLEI7,newSNK7,newNKI7])
Table8 = pd.concat([newKKN8,newNPM8,newLEI8,newSNK8,newNKI8])

In [223]:
AA = pd.merge(Table1,Table2) #ต่อได้แค่ 2 ตาราง T^T
AA

,จังหวัด,สถานี,วัน,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์
0,หนองคาย,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.34,89
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.67,91
2,หนองคาย,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.39,78
3,หนองคาย,352201-หนองคาย จ.หนองคาย,4.0,10,2011,1008.11,75
4,หนองคาย,352201-หนองคาย จ.หนองคาย,5.0,10,2011,1009.69,90
...,...,...,...,...,...,...,...
1700,หนองคาย,352201-หนองคาย จ.หนองคาย,27.0,2,2022,1015.31,62
1701,หนองคาย,352201-หนองคาย จ.หนองคาย,28.0,2,2022,1013.06,65
1702,หนองคาย,352201-หนองคาย จ.หนองคาย,29.0,2,2022,-,-
1703,หนองคาย,352201-หนองคาย จ.หนองคาย,30.0,2,2022,-,-
1704,หนองคาย,352201-หนองคาย จ.หนองคาย,31.0,2,2022,-,-